In [58]:
x=input("enter a string : ")

enter a string : a quick brown fox jumped over the lazy dog.

In [59]:
a=0

In [60]:
e=0

In [61]:
i=0

In [62]:
o=0

In [63]:
u=0

In [66]:
for letter in x:
  if(letter=='a'):
    a=a+1
  if(letter=='e'):
    e=e+1
  if(letter=='i'):
    i=i+1
  if(letter=='o'):
    o=o+1
  if(letter=='u'):
    u=u+1

In [67]:
print("a = ", a ," e = ", e ," i = ", i , " o = ", o ," u = ", u)

a =  2  e =  3  i =  1  o =  4  u =  2