In [3]:
def returnFunction():
  x=input("enter your name")
  y=int(input("enter your age"))
  return x,y

In [4]:
print("returning two value from a function.")

returning two value from a function.

In [6]:
x,y=returnFunction()

enter your namesoumyaneel
enter your age19

In [7]:
print("name = ",x," age = ",y)

name =  soumyaneel  age =  19